<div class="container">
  <div class="row my-3">
      <ng-container *ngFor="let product of products">
          <div class="card col-md-4 col-lg-3 col-sm-12 mx-3 text-center"  style="width: 18rem;">
              <img src="{{product.images[0]}}" class="m-2 card-img-top img-fluid" alt="..." style="height: 250px;"
              routerLink="/ProductsDetails/{{product.id}}" >
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h5 class="card-title">{{product.price|currency:'EGP':'code'}}</h5>
              </div>
            </div>
      </ng-container>
  </div>
</div>

