<!-- <div class="container-flued">
  <div class="row g-0 ">
    <div class="col-md-8 col-sm-12 m-3 bg-white ">
      <h2>Order</h2>
      <hr>
      <div  *ngFor="let order of orders" class=" d-flex flex-row border-bottom mt-2">
        <div  *ngFor="let orderitem of order.orderItems" class=" d-flex flex-row border-bottom mt-2">
      <section class="gallery col-md-2 m-2" >
          <div class="img-container">
              <img [src]="orderitem.imgUrl" class="img-fluid img-prev" id="preview" style="height: 200px;" alt=".....">
          </div>
      </section>
      <div class="col-md-7 col-sm-12 mx-2">
          <div>
            <p class="fs-5">{{orderitem.productname}}</p>
          </div>
          <div>
            <p class="fs-5 "><strong>{{orderitem.productPrice|currency:'EGP':'symbol'}}</strong></p>
          </div>
          <div>
            <p class="fs-5 "><strong>{{orderitem.count}}</strong></p>
          </div>
        </div>
        </div>
    </div>
  </div>
  </div>

</div>


 -->
