.img-container img{
  width: 100%;
  height: 100%;
}
.img-prev{
  margin-top: 10px;
}
.checked{
  color: gold;
}

.main {
  display: flex;
}
.main > div {
  flex: 1;
}



 .icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}
