.img-container img{
  width: 100%;
  height: 100%;
}
.img-prev{
  margin-top: 10px;
}
.img-slide{
  display: inline-block;
  width: 24%;
  margin: 0 2px;
  opacity: .7;
}
.active{
  border: 2px solid #222;
  opacity: 1;
}

.bg-color{
  background-color: #eee;
  padding: 60px 0;
  font-family: 'Roboto', sans-serif;
}

.checked{
  color: gold;
}

.main {
  display: flex;
}
.main > div {
  flex: 1;
}


