<div class="container">
    <header>
        <div class="d-flex flex-row justify-content-center">
          <div class="row">
            <div class="col-md">
              <img class= "img_1" src="https://economictimes.indiatimes.com/thumb/msid-59738992,width-640,height-480,resizemode-75,imgsize-25499/amazon.jpg" alt="Amazon Logo"/>
            </div>
          </div>
        </div>
     </header> 
    <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
          <form method="POST"  (ngSubmit)="register()"  #signupForm="ngForm" role="form">
              <div class="form-group">
                  <h2>Create account</h2>
              </div>
              <div class="form-group mb-2">
                  <strong>Your name</strong>
                  <input id="userName" name="userName" type="text" maxlength="50" class="form-control"
                   [(ngModel)]="user.userName" #userNameInput="ngModel" 
                  [ngClass]="{'is-invalid':(userNameInput.touched||userNameInput.dirty)&&
                  userNameInput.invalid}">
              </div>
              <div class="form-group mb-2">
                  <strong>Enter Your Email or Mobile Phone</strong>
                  <input id="signinEmail" name="signinEmail"  maxlength="25" class="form-control"
                  [(ngModel)]="user.EmailAddress" #signinEmailInput="ngModel" 
                  [ngClass]="{'is-invalid':(signinEmailInput.touched||signinEmailInput.dirty)&&
                  signinEmailInput.invalid}">
              </div>
              <div class="form-group mb-2">
                  <strong>Password</strong>
                  <input id="signinPassword" name="signinPassword" type="password" maxlength="25" class="form-control" placeholder="at least 6 Characters"
                  [(ngModel)]="user.Password" #signinPasswordInput="ngModel" 
                  [ngClass]="{'is-invalid':(signinPasswordInput.touched||signinPasswordInput.dirty)&&
                  signinPasswordInput.invalid}">
              </div>
              <div class="form-group mb-2">
                  <strong>Re Password</strong>
                  <input id="signinPassword" name="signinPassword" type="password" maxlength="25" class="form-control"
                  [(ngModel)]="user.ConfirmPassword" #signinPasswordInput="ngModel" 
                  [ngClass]="{'is-invalid':(signinPasswordInput.touched||signinPasswordInput.dirty)&&
                  signinPasswordInput.invalid}">
              </div>
              <div class="form-group mb-2" style="padding-top: 15px;">
                  <button id="signinSubmit" type="submit" class="btn col-12 mx-auto">Create your Amazon account</button>
              </div><br>
              <p class="form-group">Alread have an account? <a href="#" style="text-decoration: none;">Sing in</a></p>
          </form>
      </div>
    </div>
    </div>
    </div>

    <!-- <h2>{{user |json}}</h2> -->